@inherits LayoutComponentBase

<div class="app-shell">
    <header class="app-header">
        <nav class="nav-tabs">
            <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink href="historia" class="nav-tab">História</NavLink>
            <NavLink href="projetos" class="nav-tab">Projetos</NavLink>
            <NavLink href="contato" class="nav-tab">Contato</NavLink>
        </nav>
    </header>

    <main class="app-content">
        @Body
    </main>

</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>